<VirtualHost *:80>
        ServerName                 localhost
        ServerAlias                *
        ServerAdmin                webmaster@gbif.org
        ErrorLog                   logs/registry-80_error
        CustomLog                  logs/registry-80_log combined

        AliasMatch                 ^/[^.]+$ /var/www/html/index.html
</VirtualHost>
