<VirtualHost *:80>
        ServerName                 localhost
        ServerAlias                *
        ServerAdmin                webmaster@gbif.org

        AliasMatch                 ^/[^.]+$ /var/www/html/index.html
</VirtualHost>
